# Python
__pycache__/
*.py[codz]
*.egg-info/
.eggs/
build/
dist/

# Виртуальные окружения
.venv/

# Секреты и локальная настройка
.env

# Кэши инструментов
.pytest_cache/
.ruff_cache/
.mypy_cache/
coverage.xml
htmlcov/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Логи
*.log
logs/
